#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# HIL Simulation PX4 Configuration for UIUC STTR

# HITL configuration
# connect to it with jMAVSim:
# ./Tools/jmavsim_run.sh -q -i <IP> -p 14577 -r 250

uorb start

param load
param set SYS_AUTOSTART 1000 # Simulation Plane
param set MAV_BROADCAST 1 # Always broadcast heartbeat
param set MAV_TYPE 1 # Fixed wing aircraft
param set SYS_MC_EST_GROUP 2 # Ekf2 estimator group (change to 0?)

dataman start # Persistent storage in a file 'datum'

sensors start -h # Sensors in HIL mode

commander start --hil # Commands in HIL mode

navigator start # Autonomous navigation

ekf2 start # Extended Kalman Filter estimator

land_detector start fixedwing # Detects frefall and landing

fw_att_control  start # Fixed wing attitude controller

fw_pos_control_l1 start # Fixed wing position controller

mavlink start -x -u 14577 -r 1000000 # Start mavlink on port 14577 at max 1000000 B/sc

navio_sysfs_rc_in start # Navio2 RC driver

pwm_out_sim start # Driver for simulated PWM outputs (actuator commands from loaded mixer)

mixer load /dev/pwm_output0 ROMFS/px4fmu_common/mixers/AERT.main.mix # Aileron/rudder/elevator/throttle mixer for PX4FMU

logger start -t -b 200 # ULog file driver using date/time naming and 200 KiB log buffer

mavlink boot_complete