#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# HITL configuration
# connect to it with jMAVSim:
# ./Tools/jmavsim_run.sh -q -i <IP> -p 14577 -r 250

uorb start
if [ -f eeprom/parameters ]
then
	param load
fi
param set SYS_AUTOSTART 1000
param set MAV_BROADCAST 1
param set MAV_TYPE 1
param set SYS_MC_EST_GROUP 0

dataman start

df_lsm9ds1_wrapper start -R 4 # BUG: Required to arm even in HIL mode

navio_rgbled start
navio_adc start

sensors start -hil
commander start --hil
navigator start
#ekf2 start
land_detector start fixedwing
fw_pos_control_l1 start
fw_att_control start

# Simulator Mavlink
mavlink start -x -u 14577 -r 1000000 -o 14545

# GSC Mavlink
mavlink start -x -u 14570 -r 1000000
mavlink stream -u 14570 -s HIGHRES_IMU -r 50
mavlink stream -u 14570 -s ATTITUDE -r 50

if [ -f /dev/ttyUSB0 ]
then
	mavlink start -x -d /dev/ttyUSB0
	mavlink stream -d /dev/ttyUSB0 -s HIGHRES_IMU -r 50
	mavlink stream -d /dev/ttyUSB0 -s ATTITUDE -r 50
fi

navio_sysfs_rc_in start

pwm_out_sim start
mixer load /dev/pwm_output0 ROMFS/px4fmu_common/mixers/AERT.main.mix

logger start -t -b 200
mavlink boot_complete
